Source: ros-galactic-iceoryx-utils
Section: misc
Priority: optional
Maintainer: Eclipse Foundation, Inc. <michael.poehnl@apex.ai>
Build-Depends: debhelper (>= 9.0.0), acl, cmake, libacl1-dev, libatomic1, ros-galactic-ros-workspace
Homepage: https://iceoryx.io
Standards-Version: 3.9.2

Package: ros-galactic-iceoryx-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, acl, libacl1-dev, libatomic1, ros-galactic-ros-workspace
Description: Eclipse iceoryx inter-process-communication (IPC) middleware basic building blocks
