Source: ros-iron-iceoryx-posh
Section: misc
Priority: optional
Maintainer: Eclipse Foundation, Inc. <iceoryx-oss-support@apex.ai>
Build-Depends: debhelper (>= 9.0.0), cmake, git, ros-iron-iceoryx-hoofs, ros-iron-ros-workspace
Homepage: https://iceoryx.io
Standards-Version: 3.9.2

Package: ros-iron-iceoryx-posh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-iceoryx-hoofs, ros-iron-ros-workspace
Description: Eclipse iceoryx inter-process-communication (IPC) middleware Posix Shared Memory Library and middleware daemon (RouDi)
